<style>
header {
  font-size: 12pt;
  height: 50px;
}

.left {
  float: left;
  width: 50%;
  height: 100px;
}

.right {
  float: right;
  text-align: right;
  width: 50%;
  height: 100px;
}
</style>
<header>
  <div class="left">
    H7DRA - Fila Ambulatorial - [FILA]aa
  </div>
  <div class="right">
    Wed, 20 Mar 2019 14:02:29 -0300
  </div>
</header>